body {
	margin: 0;
	font: 16px/20px 'Hevetica' sans-serif;
}

.top-nav {
	background-color: black;
	color: white;
	height: 50px;
	padding: 10px;
}

.columns {
	float: left;

}

.clearfix {
	height:0;
	clear:both;
}

.links {
	float: right;
	//h1 is automatically an inline block
	//percentage vs pix
}

.middle-section {


}



.bottom-section {
	background-color: #dddddd;
}

// CSS Stuff
//Position
//position: absolute - in regard to parent element, inside the parent element 
//{
//	position: absolute;
//  top: 30px;
//  left: 10px;
//}
//position: fixed - ex: nav bar

//float - allows it to go as far left or right in the element that is containing it
//float: inherit;
//two elements float side by side
//float takes elements "out of flow" - height wont apply to them -- add clearfix

//clear: both
//pseudo-classes - modifiers attached to selectors, specify a state or relation
//a:visited
//a:hover
//a:active
//order matters

