body {
	width: 1020px;
	margin: auto auto;
	padding: 0;
	background: #fafafa;
	border-left-style: solid;
	border-left-color: #003399;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #003399;

}

.page-header {
	background: #003399;
	color: #fafafa;
	height: 95px;


}

.header-text {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.page-header h1 {
	font-size: 28pt;
	font-weight: bold;
	float:left;

}
.page-header h1 , 
.page-header p {
	display: inline-block;
	vertical-align: center;
	margin-top: 30px;
	
}


.page-header p {
	margin-left: 30px;
	float: right;
	
}

.page-header a {
	font-size: 18pt;
	text-decoration: none;
	color: #fafafa;
	padding-left: 20px;
	text-align: right;
	
}

.page-headline {
	font-size: 24pt;
	color: #003399;
	font-weight: bold;
	

}

.page-headline h1 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.midsection {
	width: 1020px;

}
.center-mid {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


.column {
	margin-right: 32px;
}


.column,
.column-far-right{
	display: inline-block;
	width: 296px;
	vertical-align: top;
	margin-left: 0;
	
}

.column-far-right {
	margin-right: 0;
}

 
.column img, 	
.column-far-right img{
	width: inherit;
}

.column a, .column-far-right a {
	text-decoration: none;
	color: black;
	padding-left: 0;
}


.roster {
	font-size: 18pt;
	text-decoration: none;
}


.team-photo img {
	width: 628px;
	height: 450px;
	padding-right: 28px;
}

.sidebar, 
.team-photo  {
	display: inline-block;
	vertical-align: top;
}

.sidebar img, 
.sidebar p {
	display: inline-block;
	vertical-align: top;
}

.sidebar img {
	height: 80px;
	width: 80px;
	padding-right: 10px;
	padding-bottom: 10px

}

.sidebar p {
	width: 206px;
	margin: 0;
}

.bottom-section {
	margin-left: 30px;
	padding-bottom: 30px;
}

.picture-box {
	width: 960px;
	margin-left: 30px;

}

.first-pics {
	margin-right: 30px;
	width: 296px;
}
.end-pics {
	width: 296px;
}

.top-row {
	margin-top: 10px;
	margin-bottom: 30px;
}


.page-headline img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 400px;

}

